<div id="archive" style="width:950px;">
	<div id="archiveTop">
		<div id="archiveHeading">
			<h2>{{bundle.magazine.archive.value}}</h2>
		</div>
	</div>
	<div id="backIssues">
		<ul id="archivedIssues">

		</ul>
		{{#if next}}
			<div class="extendedArchive">
		    </div>
		{{/if}}
	</div>
</div>  